@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
}
p{
    font-size: 1em;
    line-height: 32px;
    letter-spacing: 1px;
}
ul, li{
    list-style: none;
}
body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: #333333;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
header {
    text-align: center;
    padding: 65px 0 85px;
}
section {
    display: block;
}
.coming--soon__row {
    text-align: center;
    padding-bottom: 80px;
}
.coming--soon__row h1 {
    font-size: 80px;
    line-height: 58px;
}
.coming--soon__row span{
    font-size: 28px;
}
.count--timer__row{
    background: #FFFFE1;
    text-align: center;
    padding: 10px 0 30px;
}
#countdown {
    display: flex;
}
#countdown ul{
    display: flex;
    margin: auto;
}
#countdown ul li{
    display: grid;
}
#countdown ul li{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 60px;
    color: #333333;
    line-height: 62px;
    margin-right: 36px;
}
#countdown ul li span{
    color: #F65219;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 16px;
    font-family: 'Manrope', sans-serif;
}
#countdown ul li:last-child{
    margin-right: 0;
}
.center--img__block {
    display: flex;
    margin: auto;
    text-align: center;
    padding: 60px 0 80px;
}
.center--img__block img {
    margin: auto;
    display: inline-block;
    max-width: 100%;
}
footer{
    display:grid;
    text-align: center;
    padding-bottom: 50px;
}
.f--social__icon{
    display: inline-block;
    margin-bottom: 10px;
}
.f--social__icon ul{
    display: flex;
}
.f--social__icon li{
    margin: 0 10px;
}
footer p{
    font-size: 14px;
}
@media only screen and (max-width: 767px){
    header {
        text-align: center;
        padding: 0px 0 50px;
    }
    .coming--soon__row h1 {
        font-size: 52px;
        line-height: 38px;
    }
    .coming--soon__row span {
        font-size: 20px;
    }
    .coming--soon__row{
        padding-bottom: 60px;
    }
    #countdown ul li{
        font-size: 42px;
        line-height: 42px;
        margin-right: 20px;
    }
    #countdown ul li span{
        font-size: 16px;
    }
    #countdown ul li{
        font-size: 14px;
    }
    .center--img__block{
        padding: 40px 15px 60px;
        display: block;
    }
    footer{
        padding-bottom: 20px;
    }
}